@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .frame {
    @apply border-2 border-gray-300 rounded-lg p-4;
  }

  .custom-link {
    @apply text-blue-500 hover:underline hover:text-blue-800 font-bold focus:outline-none;
  }
  .custom-btn {
    @apply inline-block px-16 py-3 text-lg font-semibold bg-yellow-400 rounded-lg hover:bg-yellow-500 shadow-md hover:no-underline hover:text-inherit focus:outline-none;
  }

  .custom-btn-950 {
    @apply text-gray-950;
  }

  .custom-btn-700 {
    @apply text-gray-700;
  }

  .kliche-btn {
    @apply text-white bg-blue-500 hover:bg-blue-600 focus:outline-none py-2 px-4 rounded-md shadow-md mb-2;
  }

  .video-container {
    @apply relative w-full pb-[56.25%] mb-3;
  }

  .video-container iframe {
    @apply absolute top-0 left-0 w-full h-full;
  }

  .max-w-prose {
    @apply mx-auto max-w-85ch;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
}

figure {
  margin-bottom: 1rem;
}

figure figcaption {
  margin-top: 0.5rem;
}

h1 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

ul {
  list-style-type: disc;
  padding-left: 1.6rem;
  margin-bottom: 0.75rem;
}

table {
  font-style: italic;
}

.dialogue p,
.questions p,
.kliche-container p {
  line-height: 0.8;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: 0.55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}
